body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

a {
  all: unset;
}

/*--------------------------------------- header ----------------------------------------------*/

.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0px 20px;
  position: sticky;
  z-index: 1000;
  top: 0;
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
}

.nav-items {
  display: flex;
  align-items: center;
}

.header-profile {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.header-profile-icon {
  margin-right: 5px;
  fill: rgb(137, 37, 37) !important;
}

.item {
  padding: 0px 20px;
  font-size: 16px;
  font-weight: 300;
  transition: all 0.1s ease-in-out;
}

.item:hover {
  cursor: pointer;
  color: rgb(211, 136, 57);
}

.logo-container {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 5px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-icon-container {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgb(137, 37, 37);
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out !important;
  border-bottom: 0px solid orange;
}

.logo {
  font-size: 40px !important;
  transition: all 0.2s ease-in-out !important;
  fill: orange !important;
}

.logo-icon-container:hover > .logo {
  transform: rotate(-180deg);
}

.logo-icon-container:hover {
  border-bottom: 26px solid orange;
}

.logo-icon-container:hover ~ .brand-name,
.brand-name:hover {
  cursor: pointer;
  color: orange;
}

.brand-name {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-style: italic;
  margin-left: 10px;
  color: rgb(137, 37, 37);
  transition: all 0.1s ease-in-out;
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  position: relative;
}

.cart {
  font-size: 35px !important;
  fill: rgb(137, 37, 37) !important;
  transition: all 0.1s ease-in-out !important;
}

.cart:hover {
  transition: all 0.1s ease-in-out !important;
  font-size: 40px !important;
  cursor: pointer;
  fill: orange !important;
}

.header-cart-items {
  background-color: rgb(255, 91, 91);
  color: white;
  position: absolute;
  top: -20px;
  right: -10px;
  font-size: 10px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/*--------------------------------------- body ----------------------------------------------*/

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 30px;
}

.search-bar {
  width: 40vw;
  height: 50px;
  padding: 0px 20px 0px 20px;
  outline: none;
  border-radius: 5px;
  border: 0px;
  box-shadow: 0px 0px 1px;
  font-size: 14px;
  transition: all 0.1s ease-in-out;
}

.search-bar:focus {
  font-size: 15px;
  box-shadow: 0px 0px 2px;
}

.search-icon {
  padding-left: 10px;
}

.search-icon:hover {
  cursor: pointer;
}

.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 110px 10px 120px;
}

.heading {
  font-size: 24px;
  font-weight: 300;
}

.filter-btn {
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1 black;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  transition: all 0.2s ease-in-out;
}

.filter-btn:hover {
  color: rgb(211, 136, 57);
}

.not-found {
  font-size: 30px;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.res-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.res-logo {
  width: 220px;
  height: 170px;
  object-fit: cover;
  object-position: top;
  border-radius: 30px;
  padding: 5px 5px;
}

.res-card {
  width: 230px;
  border: 1px solid transparent;
  border-radius: 30px;
  margin: 20px 20px;
  background-color: rgb(239, 232, 232);
  transition: all 0.2s ease-in-out;
}

.upper-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

.name {
  font-size: 20px;
  font-weight: 500;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.stars {
  background-color: rgb(33, 118, 33);
  color: white;
  width: 40px;
  min-width: 40px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.cuisine,
.location {
  font-size: 12px;
  font-weight: 300;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.location {
  font-weight: 200;
}

.location-icon {
  padding-right: 2px;
}

.lower-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  padding-top: 5px;
}

.price {
  font-weight: 300;
}

.res-card:hover {
  cursor: pointer;
  box-shadow: 0px 1px 5px;
  background-color: rgb(255, 251, 251);
}

.res-info {
  padding: 5px 12px 15px 12px;
}

/*--------------------------------------- shimmer ----------------------------------------------*/

.shimmer-search {
  width: 40vw;
  height: 50px;
  padding: 0px 20px 0px 20px;
  border-radius: 5px;
  font-size: 14px;
  background-color: rgb(242, 238, 238);
}

.shimmer-heading {
  background-color: rgb(242, 238, 238);
  width: 600px;
  height: 40px;
  padding-top: 20px;
}

.shimmer-cards {
  width: 230px;
  height: 270px;
  background-color: rgb(242, 238, 238);
  border: 1px solid transparent;
  border-radius: 30px;
  margin: 20px 35px;
}

.shimmer-menu-banner {
  background-color: rgb(242, 238, 238);
  height: 135px;
  box-shadow: none !important;
}

.shimmer-heading {
  background-color: rgb(242, 238, 238);
  margin-bottom: 20px;
  box-shadow: none !important;
}

.shimmer-dish-card {
  background-color: rgb(242, 238, 238);
  height: 120px;
}

/*--------------------------------------- menu page details ----------------------------------------------*/

.res-detail-card {
  width: 65vw;
  margin: 40px auto 30px auto;
  padding: 20px;
  box-shadow: 0 0 1 #656464;
  border-radius: 10px;
}

.res-detail-price {
  font-weight: 300;
}

.res-detail-name {
  font-size: 30px;
  font-weight: 600;
}

.res-detail-upper-container {
  display: flex;
}

.res-detail-location,
.res-detail-time {
  font-size: 14px;
  font-weight: 300;
}

.res-detail-stars {
  margin-right: 40px;
}

.menu-heading {
  font-size: 30px;
  font-weight: 500;
  margin: 0px auto;
  width: 61vw;
  border-bottom: 14px solid #f0f0f0;
  padding-bottom: 20px;
}

/*--------------------------------------- res dish card ----------------------------------------------*/

.res-dish-card {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  margin: 20px auto;
  border-bottom: 1px solid #dadada;
  padding: 10px;
}

.res-dish-type {
  margin-right: 10px;
}

.offer-label {
  background-color: black;
  color: white;
  position: absolute;
  margin: 10px 0px 0px 30px;
  padding: 8px 15px;
  opacity: 0.7;
  border-radius: 25px;
  font-size: 10px;
  font-weight: 600;
}

.res-dish-left-container {
  padding-right: 50px;
}

.res-dish-left-upper-container {
  display: flex;
  align-items: center;
}

.res-dish-name {
  font-size: 20px;
  font-weight: 600;
  margin-right: 5px;
}

.res-dish-price {
  font-weight: 600;
}

.res-dish-stars {
  background-color: rgb(33, 118, 33);
  color: white;
  width: 35px;
  height: 18px;
  min-width: 35px;
  font-size: 10px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.res-dish-stars:hover {
  cursor: default;
}

.type-outer {
  border: 1.5px solid green;
  width: 13px;
  height: 13px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.type-inner {
  background-color: green;
  width: 6px;
  height: 6px;
  border-radius: 10px;
}

.red-icon-outer {
  border-color: red;
}

.red-icon-inner {
  background-color: red;
}

.res-dish-description {
  font-weight: 300;
  font-size: 14px;
}

.res-dish-right-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.res-dish-image {
  width: 100px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 20px;
}

.res-dish-image:hover {
  cursor: pointer;
}

.add-to-cart-init {
  background-color: white;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 0 1 black;
  border-radius: 10px;
  width: 90px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  transition: all 0.2s ease-in-out;
  user-select: none;
}

.add-to-cart-init:hover {
  cursor: pointer;
  background-color: rgb(53, 135, 53);
  color: white;
}

.add-to-cart-aft {
  width: 90px;
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0 0 1 black;
  color: rgb(66, 66, 66);
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: white;
  user-select: none;
}

.addMinus,
.addPlus,
.cartQty {
  width: 30px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
}

.addMinus:hover,
.addPlus:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.addMinus:hover {
  color: red;
  transition: all 0.2s ease-in-out;
}

.addPlus:hover {
  color: green;
  transition: all 0.2s ease-in-out;
}

/*--------------------------------------- about ----------------------------------------------*/

.template-container {
  margin: 0px 40px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.template-content {
  width: 70vw;
  padding: 40px;
  background-color: #f7f2f2;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}

.accordion-header-container {
  width: 60vw;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  padding: 14px 10px;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 14px solid #f0f0f0;
  cursor: pointer;
}

/**************************************** profile *************************************************/

.profile-container {
  width: 60vw;
  margin: 40px auto;
}

.profile-upper-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 20px;
}

.profile-logo-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 50%;
}

.profile-logo {
  fill: grey !important;
  font-size: 100px !important;
}

.edit-profile {
  color: rgb(137, 37, 37);
  border: 2px solid rgb(137, 37, 37);
  border-radius: 5px;
  font-size: 12px;
  padding: 8px 15px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  margin: 20px 20px 0px 0px;
  font-weight: 500;
}

.edit-profile:hover {
  box-shadow: 0px 0px 2px black;
  background-color: #f0f0f0;
  transition: all 0.1s ease-in-out;
}

.profile-heading {
  font-size: 30px;
  font-weight: 500;
}

.profile-email {
  font-size: 14px;
  font-weight: 300;
}

.profile-card-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;
}

.profile-card {
  flex: 1;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(137, 37, 37);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
}

.profile-card:hover {
  background-color: #f0f0f0;
}

.profile-card-heading {
  font-size: 20px;
  font-weight: 500;
}

.order-text {
  font-size: 12px;
  font-weight: 300;
}

.profile-card-icon {
  fill: rgb(137, 37, 37) !important;
  margin-bottom: 10px;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  padding: 20px 30px !important;
  width: 40vw;
  height: 40vh;
}

.dialog-container > input {
  padding: 10px;
  outline: none;
  margin-bottom: 10px;
}

.dialog-title {
  color: rgb(109, 27, 27);
}

.cancel,
.save {
  padding: 5px 10px;
  border: 1px solid rgb(137, 37, 37);
  color: rgb(137, 37, 37);
  border-radius: 5px;
  margin: 20px;
  width: 60px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.cancel:hover {
  background-color: #f0f0f0;
  transition: all 0.1s ease-in-out;
}

.save:hover {
  background-color: rgb(137, 37, 37);
  color: white;
  transition: all 0.1s ease-in-out;
}

/**************************************** cart-page *************************************************/

.cart-page-container {
  width: 90vw;
  margin: 20 auto;
  display: flex;
  border-radius: 10px;
  background-color: #f7f2f2;
}

.cart-page-left-container {
  padding-top: 30px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-page-right-container {
  width: 40%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**************************************** cart-dish-card and res-name*************************************************/

.cart-res-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(199, 196, 196);
  width: 48vw;
  padding: 10px;
  box-sizing: border-box;
  /* background-color: lightblue; */
}

.cart-res-header-left {
  display: flex;
  align-items: center;
}

.cart-res-img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.cart-res-name {
  font-size: 20px;
  font-weight: 600;
}

.cart-res-location {
  font-size: 12px;
  font-weight: 300;
}

.clear-cart {
  padding: 5px 10px;
  color: red;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid rgb(199, 196, 196);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.clear-cart:hover {
  background-color: red;
  color: white;
  transition: all 0.2s ease-in-out;
}

.cart-dish-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45vw;
  padding: 10px 20px;
  font-size: 14px;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 10px;
}

.cart-dish-card-left-container {
  display: flex;
  align-items: center;
  width: 300px;
}

.cart-dish-type {
  height: 30px;
  width: 30px;
  background-color: green;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.cart-dish-quantity-button {
  display: flex;
  justify-content: space-around;
  width: 70px;
  font-size: 16px;
  font-weight: 600;
  color: green;
  border: 1px solid grey;
  padding: 5px;
  margin: 0px 10px;
}

.cart-dish-minus,
.cart-dish-plus,
.cart-dish-qty {
  width: 25px;
  text-align: center;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  user-select: none;
}

.cart-dish-minus:hover,
.cart-dish-plus:hover {
  background-color: #f0f0f0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

/**************************************** bill-section *************************************************/

.bill-card,
.bill-policy {
  width: 30vw;
  padding: 10px 40px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: white;
}

.bill-card-heading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0px;
}

.bill-card-items {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 14px;
}

.bill-card-divider {
  width: 100%;
  height: 3px;
  background-color: grey;
  margin: 20px 0px;
}

.bill-card-pay {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.bill-card-pay-left,
.bill-card-pay-right {
  font-size: 18px;
  font-weight: 500;
}

.note {
  font-size: 12px;
  color: red;
}

.note-content {
  font-size: 12px;
  font-weight: 300;
}

.proceed-pay {
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(4, 156, 4);
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 10px;
}

.proceed-pay:hover {
  box-shadow: 0 0 5 grey;
}

/**************************************************************************************************/

.empty-cart-container {
  text-align: center;
  width: 90vw;
  height: 30vw;
  margin: 20 auto;
  border-radius: 10px;
  background-color: #f7f2f2;
  padding-top: 100px;
}

.explore-restaurant {
  padding: 10px 20px;
  border-radius: 10px;
  color: green;
  width: fit-content;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 1px solid green;
}

.explore-restaurant:hover {
  background-color: green;
  color: white;
  transition: all 0.2s ease-in-out;
}

.change-dialog-title {
  font-size: 20px !important;
  font-weight: 600 !important;
}

.change-res-container {
  width: 35vw;
  font-size: 12px;
}

.change-cancel,
.change-save {
  padding: 5px 10px;
  border: 1px solid rgb(4, 158, 4);
  color: rgb(4, 158, 4);
  border-radius: 5px;
  margin: 20px;
  width: 190px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  font-size: 18px;
  font-weight: 500;
}

.change-cancel:hover {
  background-color: #f0f0f0;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 0 2 black;
}

.change-save:hover {
  background-color: green;
  color: white;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 0 4 black;
}

/******************************************footer****************************************************/

.footer {
  margin-top: 40px;
  text-align: center;
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
  background-color: #f0f0f0;
}

.footer-upper {
  display: flex;
  justify-content: center;
}

.footer-container {
  width: 22vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.footer-container-left {
  padding-top: 100px;
}

.footer-logo {
  font-size: 40px !important;
}

.footer-logo:hover {
  fill: orange;
}

.footer-name {
  font-size: 25px;
  font-style: italic;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.footer-name:hover {
  color: orange;
  transition: all 0.1s ease-in-out;
}

.footer-heading {
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0px 10px 0px;
}

.footer-items {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.6;
  margin-bottom: 10px;
}

.footer-socials {
  display: flex;
  align-items: center;
}

.footer-social-icon {
  margin-right: 12px;
  fill: #3e3e3e !important;
  cursor: pointer;
}

.footer-contact-container,
.footer-legal-container {
  /* background-color: lightpink;/ */
  text-align: start;
}

.footer-copyright {
  padding: 20px 80px;
  font-size: 12px;
  font-weight: 200;
}

.footer-divider {
  height: 0.5px;
  width: 86vw;
  background-color: rgb(171, 168, 168);
  margin: 0 auto;
}

.linkedin {
  font-size: 28px !important;
}

.tagline {
  font-size: 12px;
}

.footer-button {
  cursor: pointer;
}

.footer-button:hover {
  color: rgb(211, 136, 57);
}

.grocery-content {
  margin-top: 60px;
}
